*{margin:0;padding:0;}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    font-size: 28px;
    background-color: #000000;
}

.caption {
    display: block;
    font-size: 30px;
}

.web {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.address {
    display: block;
    font-size: 20px;
}

.logo {
    margin: 20px;
    width: 269px;
}

header   {
    position: absolute;
    z-index: 9999;
    /* background: rgba(0,0,0,.5); */
}

.bss-slides {
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.bss-prev {
    display: none;
}

.bss-next {
    display: none;
}

figcaption {
    position: fixed !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    background: rgba(0,0,0,.5) !important;
    border-radius: 0px !important;
    display: table;
    width: 100%;
    padding: 0px !important;
    min-height: 150px;
}

.fig-logo {
    width: 290px;
    background: rgba(0,0,0,.8);
    padding: 0 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



.fig-caption {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.fig-qr {
    width: 150px;
    background: rgba(0,0,0,.8);
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.fig-qr-image img {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 150px;
    z-index: 10;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img.slide {
    position: absolute !important;
    top: 0;
    bottom: -1080px;
    left: 0;
    right: 0;
    margin: auto;
}

/*
img.slide.vertical {
    width: auto;
    height: 1080px;
}

img.slide.horizontal {
    width: 1920px;
    height: auto;
    vertical-align: bottom;
}
*/